<head>
    <link rel="stylesheet" type="text/css" href="/node_modules/primeicons/primeicons.css" />
    <link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/themes/omega/theme.css" />
    <link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/primeng.min.css" />
</head>
<nav>
  <a id="inicio" routerLink="/inicio">Inicio</a>
  <a id="carrinho" routerLink="/carrinho/op/0"><img src="../assets/car.png"/></a>
  <a id="sobre" routerLink="/sobre">sobre</a>
  <a id="quiz" routerLink="/quiz"><img src="../assets/controlep.png"/></a>
  <a id="conta" routerLink="/conta"><img src="../assets/usuário.png"/></a>     
</nav>
<img id="pomo" src="../assets/pomodeouro50.png">
<img id="logo" src="../assets/Brasão_de_Hogwarts.png"/>
<img id="espelho" src="../assets/espelho.png"/>
<img id="espada" src="../assets/espada.png"/>
<img id="reliquias" src="../assets/pena.png"/>
<img id="calderao" src="../assets/calderao.png"/>
<img id="escudo" src="../assets/escudo.png">
<img id="chave" src="../assets/chave.png"/>
<img id="vaso" src="../assets/ovo.png"/>
<img id="carro" src="../assets/carro.png"/>
<img id="coruja" src="../assets/pocao.png"/>
<img id="capa" src="../assets/capa.png"/>
<img id="salgueiro" src="../assets/salgueiro.png"/>
<img id="sapo" src="../assets/sapo.png"/>
<img id="expresso" src="../assets/expresso.png"/>
<mat-card style="position: absolute;top:8%;width: 100%"></mat-card>

<router-outlet class="paginas"></router-outlet>
